[Unit]
Description=Elo Discord Bot
After=network-online.target

[Service]
Type=simple
User=seb
Group=seb
ExecStart=/usr/bin/node /home/seb/bots/Elo-DiscordBot/.
WorkingDirectory=/home/seb/bots/Elo-DiscordBot/
[Install]
WantedBy=default.target
